@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(167, 139, 249, 0.8);
}

::selection {
    color: white;
    background: rgba(167, 139, 249, 0.8);
}

@layer base {
    body {
        @apply bg-color-neutral-900 text-base text-color-accent-100 font-light font-ubuntu;
    }
}
